.sub-header {
    padding-left: 2%;
    padding-bottom: 2%;
    text-decoration: underline;
}

.accounts-input-group {
    border-collapse: separate;
    padding: 0.5% 0.5% 0.5% 1%;
}

.input {
    color: #484848;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4.5px;
    width: 100%;
}

::-webkit-input-placeholder {
    color: rgba(162, 162, 162, 0.65);
}

.fr {
    float: right;
}

.button {
    margin-top: 10px;
}

.accounts {
    text-decoration: none;
    background-color: #ffffff;
    width: inherit;
}

.accounts .name {
    font-size: x-large;
    font-family: monospace;
    font-weight: bold;
}

.accounts .balance {
    font-family: inherit;
    font-size: larger;
    font-weight: normal;
    font-style: italic;
}