#overlay {
    display: none;
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6) url("../images/spinner.gif") no-repeat center center;
}

/* line 161, home/_home.scss */
#overlay div {
    width: 100%;
    height: 100%;
}

.header a {
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
    text-decoration: none !important;
    text-align: center;
}

.header a span {
    color: yellowgreen !important;
}

div .header {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.green-font {
    color: green;
}

.dashboard-header {
    padding-bottom: 7px;
    padding-top: 7px;
}

.dashboard-header a {
    font-size: 25px;
}

.center {
    text-align: center;
}

.red-background {
    background-color: red;
}

.form-control-info {
    border: 0;
    background-color: white;
}

.alert {
    padding: 5px 10px;
}

.edit-symbol {
    font-size: xx-large;
    cursor: hand;
}