.page-container {
    background: url(../images/budget1.jpg) fixed;
    background-size: cover;
}

.login-container {
    background: none;
}

.login-header {
    background: #000000;
}

.login-body {
    background: #d3d3d3 !important;
}

.login-footer {
    background: #000000;
}