.payers-input-group {
    display: -webkit-box;
    border-collapse: separate;
    padding: 0.5% 0.5% 0.5% 1%;
}

.input {
    color: #484848;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4.5px;
}

.green-white {
    background-color: green !important;
    color: #ffffff !important;
}

.yellow-black {
    background-color: orange !important;
    color: #000000 !important;
}

.status {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 33px;
    margin-bottom: 1%;
}

.sub-header {
    padding-left: 2%;
    padding-bottom: 2%;
    text-decoration: underline;
}