.signup-body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/dollars-and-calculator.jpg);
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(0px);
}


.signup {
    position: fixed;
    top: 20%;
    left: 15%;
    width: 300px;
    padding: 10px;
    background-color: #000000;
    opacity: 0.9;
}

.signup input[type=text] {
    width: 280px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.signup input[type=email] {
    width: 280px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.signup input[type=password] {
    width: 280px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.signup select{
    width: 280px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 4px;
    margin-top: 10px;
}

.signup input[type=button] {
    width: 100px;
    height: 35px;
    cursor: pointer;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    float: right;
}

.signup_status{
    padding: 6px;
    margin-top: 55px;
    width: 280px;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}
