.header a {
    color: #fff;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
    text-decoration: none !important;
    text-align: center;
}

.header a span {
    color: yellowgreen !important;
}

div .header {
    text-align: center;
}

.center{
    text-align: center;
}

.right{
    float: right;
}

#overlay {
    display: none;
    z-index: 10000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.6) url("../images/spinner.gif") no-repeat center center;
}
/* line 161, home/_home.scss */
#overlay div {
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Exo', sans-serif !important;
}