<link rel="stylesheet" href="styles/account.css">

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>New Account</h3>
                        <span>Add new account.</span>
                    </div>
                    <ul class="panel-controls panel-controls-title">
                        <li class="edit-symbol pointer green-font" ng-click="createAccount()"><span
                                class="fa fa-save"></span></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-offset-2 col-md-8 center">
                                <div class="alert alert-success pointer" ng-if="status">
                                    <strong>{{status}}</strong>
                                </div>
                                <div class="alert alert-danger pointer" ng-if="error">
                                    <strong>{{error}}</strong>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Name</label>

                                <div class="col-md-6 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Account Name"
                                           ng-model="newAccount.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Description</label>

                                <div class="col-md-6 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Account Description"
                                           ng-model="newAccount.description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Initial Amount</label>

                                <div class="col-md-6 col-xs-12">
                                    <input type="text" class="form-control" placeholder="Initial Amount"
                                           ng-model="newAccount.initialAmount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Currency</label>

                                <div class="col-md-6 col-xs-12">
                                    <select ng-model="newAccount.currencyUuid" ng-focus="resetStatus()"
                                            class="form-control">
                                        <option value="{{currency.uuid}}" ng-repeat="currency in currencies">
                                            {{currency.fullName}}
                                        </option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading ui-draggable-handle">
                <div class="panel-title-box">
                    <h3>Existing Accounts</h3>
                    <span>Manage existing accounts.</span>
                </div>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6" ng-repeat="account in allAccounts">
                        <form class="form-horizontal">
                            <div class="panel panel-default">
                                <div class="panel-heading ui-draggable-handle">
                                    <div class="panel-title-box">
                                        <h3>{{account.name}}</h3>
                                        <span>{{account.description}} - {{account.currency.shortName}}</span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>