<link rel="stylesheet" href="styles/admin.css">
<div header></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-md-2 sidebar">
            <ul class="nav">
                <li class="link" ng-click="goToOverview()">
                    <a ng-class="{'select': showOverview}">
                        Overview
                    </a>
                </li>
                <li class="link" ng-click="goToProfile()">
                    <a ng-class="{'select': showProfile}">
                        Profile
                    </a>
                </li>
                <li class="link" ng-click="goToAccounts()">
                    <a ng-class="{'select': showAccounts}">
                        Account
                    </a>
                </li>
                <li class="link" ng-click="goToCategory()">
                    <a ng-class="{'select': showCategory}">
                        Category (ies)
                    </a>
                </li>
                <li class="link" ng-click="goToPayers()">
                    <a ng-class="{'select': showPayers}">
                        Payer (s)
                    </a>
                </li>
                <li class="link" ng-click="goToPayees()">
                    <a ng-class="{'select': showPayees}">
                        Payee (s)
                    </a>
                </li>
                <li class="link" ng-click="goToPaymentMethod()">
                    <a ng-class="{'select': showPaymentMethod}">
                        Payment Method (s)
                    </a>
                </li>
            </ul>
        </div>
        <div ng-if="showOverview">
            <div overview></div>
        </div>
        <div ng-if="showProfile">
            <div profile></div>
        </div>
        <div ng-if="showAccounts">
            <div accounts></div>
        </div>
        <div ng-if="showCategory">
            <div category></div>
        </div>
        <div ng-if="showPayers">
            <div payers></div>
        </div>
        <div ng-if="showPayees">
            <div payees></div>
        </div>
        <div ng-if="showPaymentMethod">
            <div payment-method></div>
        </div>
    </div>
</div>