<link rel="stylesheet" href="styles/category.css" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="styles/auto-complete.css" xmlns="http://www.w3.org/1999/html">

<div class="category-section">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <div class="panel-title-box">
                            <h3>New Category</h3>
                            <span>Create new category</span>
                        </div>
                        <ul class="panel-controls panel-controls-title">
                            <li class="edit-symbol pointer green-font" ng-click="createCategory()"><span
                                    class="fa fa-save"></span></li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-offset-2 col-md-8 center">
                                    <div class="alert alert-success pointer" ng-if="status">
                                        <strong>{{status}}</strong>
                                    </div>
                                    <div class="alert alert-danger pointer" ng-if="error">
                                        <strong>{{error}}</strong>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Name</label>

                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" placeholder="Category Name" ng-model="newCategory.name"
                                               ng-focus="resetStatus()"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Description</label>

                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" placeholder="Category Description"
                                               ng-model="newCategory.description"
                                               ng-focus="resetStatus()"
                                               class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Is Set?</label>

                                    <div class="col-md-6 col-xs-12">
                                        <label class="switch">
                                            <input type="checkbox" ng-model="newCategory.isSet" ng-focus="resetStatus()">
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group" ng-if="newCategory.isSet">
                                    <label class="col-md-3 col-xs-12 control-label">Sub Categories:</label>

                                    <div class="col-md-6 col-xs-12">
                                        <input class="form-control" type="text" placeholder="Start Typing Category Name"
                                               category-autocomplete ng-focus="resetStatus()"
                                               source="getCategories" response-map="getDataResults" required
                                               on-select="addSubCategory" clear-after="true"/>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="newCategory.subCategories.length > 0">
                                    <label class="col-md-3 col-xs-12 control-label">Sub Categories:</label>

                                    <div class="col-md-6 col-xs-12">
                                        <span class="btn-group"
                                              ng-repeat="subCategory in newCategory.subCategories">
                                            <div class="input-group">
                                                <span class="form-control">{{subCategory}}</span>
                                                <span class="input-group-addon pointer close-sub-category"
                                                      ng-click="removeSubCategory(subCategory)">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </span>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <div class="panel-title-box">
                            <h3>Search Category</h3>
                            <span>Find categories</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Name</label>

                                    <div class="col-md-6 col-xs-12">
                                        <input type="text" placeholder="Enter Category Name" class="form-control"
                                               ng-model="searchItem"
                                               ng-change="searchCategory(searchItem)">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="categories">
                                    <label class="col-md-3 col-xs-12 control-label">Found Categories</label>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="alert alert-success pointer" ng-repeat="category in categories"
                                             ng-click="showCategory(category)">
                                            <strong>{{category.name}}</strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="selectedCategory">
                                    <label class="col-md-3 col-xs-12 control-label"></label>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading ui-draggable-handle">
                                                <div class="panel-title-box">
                                                    <h3>Selected Category</h3>
                                                    <span>Details of selected category</span>
                                                </div>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Name</label>

                                                            <div class="col-md-6 col-xs-12">
                                                                <span class="form-control form-control-info">
                                                                    {{selectedCategory.name}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Description</label>

                                                            <div class="col-md-6 col-xs-12">
                                                                <span class="form-control form-control-info">
                                                                    {{selectedCategory.description}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-3 col-xs-12 control-label">Parent
                                                                Category</label>

                                                            <div class="col-md-6 col-xs-12">
                                                                <span class="form-control form-control-info">
                                                                    {{selectedCategory.parentCategory.name}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>