<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title-box">
                    <h3>User Info</h3>
                    <span>Information about the user.</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row stacked">
                    <table>
                        <tr>
                            <td>
                                <strong>Username
                                    <strong class="right">:</strong>
                                </strong>
                            </td>
                            <td>
                                <span>{{user.username}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>First Name
                                    <strong class="right">:</strong>
                                </strong>
                            </td>
                            <td>
                                <span>{{user.firstName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Last Name
                                    <strong class="right">:</strong>
                                </strong>
                            </td>
                            <td>
                                <span>{{user.lastName}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Birth Date
                                    <strong class="right">:</strong>
                                </strong>
                            </td>
                            <td>
                                <span>{{user.birthDate | date: 'dd MMM yyyy'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Gender
                                    <strong class="right">:</strong>
                                </strong>
                            </td>
                            <td>
                                <span>{{user.gender}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Email
                                    <strong class="right">:</strong>
                                </strong>
                            </td>
                            <td>
                                <span>{{user.email}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title-box">
                    <h3>Accounts</h3>
                    <span>Information about the accounts of the user.</span>
                </div>
            </div>
            <div class="panel-body">
                <div class="row stacked">
                    <table>
                        <tr>
                            <td>
                                <strong>Description<strong class="right">: </strong></strong>
                            </td>
                            <td>
                                {{account.description}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Initial Amount<strong class="right">: </strong></strong>
                            </td>
                            <td>
                                {{account.initialAmount}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Balance Amount<strong class="right">: </strong></strong>
                            </td>
                            <td>
                                {{account.balanceAmount}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>