<link rel="stylesheet" href="styles/payers.css">
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>New Payer</h3>
                        <span>Add new payer.</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Name</label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Payer Name"
                                               ng-model="newPayer.name">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" ng-click="addNew()"
                                                        ng-disabled="!newPayer.name">
                                                    <span class="fa fa-save"> Save</span>
                                                </button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>Existing Payers</h3>
                        <span>Manage existing payers.</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-repeat="payer in allPayers">
                                <div class="saved-payer">
                                    <label class="col-md-offset-2 col-md-3 col-xs-12">
                                        <span>
                                            {{payer.name}}
                                        </span>
                                    </label>
                                    <label class="col-md-1">
                                        <span class="fa fa-edit pointer" ng-click="toggle(payer)"></span>
                                    </label>
                                </div>
                                <div class="col-md-6 col-xs-12" ng-if="payer.isBeingEdited">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Payer Name"
                                               ng-model="payer.name">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" type="button" ng-click="">
                                                <span class="fa fa-save"> Save</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
