<link rel="stylesheet" href="styles/payment-method.css">
<div class="payment-method-section">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <div class="panel-title-box">
                            <h3>New Payment Method</h3>
                            <span>Create new payment method</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-3 col-xs-12 control-label">Name</label>

                                    <div class="col-md-6 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Payment Method Name"
                                                   ng-model="newPaymentMethod.name">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" ng-click="addNew()"
                                                        ng-disabled="!newPaymentMethod.name">
                                                    <span class="fa fa-save"> Save</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form class="form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading ui-draggable-handle">
                        <div class="panel-title-box">
                            <h3>Existing Payment Methods</h3>
                            <span>Manage payment methods</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-repeat="paymentMethod in allPaymentMethods">
                                    <div class="saved-payment-method">
                                        <label class="col-md-offset-2 col-md-3 col-xs-12">
                                            <span>
                                                {{paymentMethod.name}}
                                            </span>
                                        </label>
                                        <label class="col-md-1">
                                            <span class="fa fa-edit pointer" ng-click="toggle(paymentMethod)"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-xs-12" ng-if="paymentMethod.isBeingEdited">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Payment Method Name"
                                                   ng-model="paymentMethod.name">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button" ng-click="">
                                                    <span class="fa fa-save"> Save</span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>