<link rel="stylesheet" href="styles/profile.css">
<div class="row profile-section" ng-if="!editing">
    <div class="col-md-offset-3 col-md-6">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>User Info</h3>
                        <span>Information about the user.</span>
                    </div>
                    <ul class="panel-controls panel-controls-title">
                        <li class="edit-symbol" ng-click="edit()"><span class="fa fa-edit pointer"></span></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    First Name
                                </label>

                                <div class="col-md-9">
                                    <span>
                                        {{user.firstName}}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Last Name
                                </label>

                                <div class="col-md-9">
                                <span>
                                    {{user.lastName}}
                                </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Email
                                </label>

                                <div class="col-md-9">
                                <span>
                                    {{user.email}}
                                </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Birth Date
                                </label>

                                <div class="col-md-9">
                                <span>
                                    {{user.birthDate}}
                                </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Gender
                                </label>

                                <div class="col-md-9">
                                <span>
                                    {{user.gender}}
                                </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    Username
                                </label>

                                <div class="col-md-9">
                                <span>
                                    {{user.username}}
                                </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">
                                    password
                                </label>

                                <div class="col-md-9">
                                <span>
                                    ********
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-if="editing">
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>User Info</h3>
                        <span>Information about the user.</span>
                    </div>
                    <ul class="panel-controls panel-controls-title">
                        <li class="edit-symbol pointer green-font" ng-click="saveUserInfo()"><span class="fa fa-save"></span></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">First Name</label>

                                <div class="col-md-6 col-xs-12">
                                    <input type="text" class="form-control" ng-model="user.firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Last Name</label>

                                <div class="col-md-6 col-xs-12">
                                    <input type="text" class="form-control" ng-model="user.lastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Email</label>

                                <div class="col-md-6 col-xs-12">
                                    <input type="email" class="form-control" ng-model="user.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Birth Date</label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input id="birthdate" type="text" ng-model="user.birthDate" datepicker placeholder="Birth Date"
                                               ng-focus="resetStatus()" class="form-control">
                                        <!--<input type="text" class="form-control datepicker" ng-model="user.birthDate">-->
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Gender</label>

                                <div class="col-md-6 col-xs-12">
                                    <select ng-model="user.gender" ng-focus="resetStatus()" class="form-control">
                                        <option value="" disabled selected>Gender</option>
                                        <option value="M">Male</option>
                                        <option value="F">Female</option>
                                        <option value="O">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Username</label>
                                <div class="col-md-6 col-xs-12">
                                    <input type="text" class="form-control" ng-model="user.username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Password</label>
                                <div class="col-md-6 col-xs-12">
                                    <input type="password" class="form-control" ng-model="user.password">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
