<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
                    <div class="panel-title-box">
                        <h3>Income</h3>
                        <span>Add income.</span>
                    </div>
                    <ul class="panel-controls panel-controls-title">
                        <li class="edit-symbol pointer green-font" ng-click="saveUserInfo()"><span
                                class="fa fa-save"></span></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Amount</label>

                                <div class="col-md-6 col-xs-12">
                                    <input type="number" class="form-control" ng-model="transaction.amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Description</label>

                                <div class="col-md-6 col-xs-12">
                                    <input type="text" class="form-control" ng-model="transaction.description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Category</label>

                                <div class="col-md-6 col-xs-12">
                                    <select ng-model="transaction.category" ng-focus="resetStatus()"
                                            class="form-control">
                                        <option value="{{category.uuid}}"
                                                ng-repeat="category in allRootCategories">
                                            {{category.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Transaction Date</label>

                                <div class="col-md-6 col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input id="birthdate" type="text" ng-model="transaction.transactionDate"
                                               datepicker placeholder="Transaction Date"
                                               ng-focus="resetStatus()" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Payment Method</label>

                                <div class="col-md-6 col-xs-12">
                                    <select ng-model="transaction.paymentMethodUuid" ng-focus="resetStatus()"
                                            class="form-control">
                                        <option value="{{paymentMehtod.uuid}}"
                                                ng-repeat="paymentMethod in paymentMethods">
                                            {{paymentMethod.name}}
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12 control-label">Payer</label>

                                <div class="col-md-6 col-xs-12">
                                    <select ng-model="transaction.payerUuid" ng-focus="resetStatus()"
                                            class="form-control">
                                        <option value="{{payer.uuid}}" ng-repeat="payer in payers">
                                            {{payer.name}}
                                        </option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
