<audio id="audio-alert" src="lib/joli/audio/alert.mp3" preload="auto"></audio>
<audio id="audio-fail" src="lib/joli/audio/fail.mp3" preload="auto"></audio>

<script type="text/javascript" src="lib/joli/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/bootstrap/bootstrap.min.js"></script>
<script type='text/javascript' src='lib/joli/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript" src="lib/joli/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/scrolltotop/scrolltopcontrol.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/morris/raphael-min.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/morris/morris.min.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/rickshaw/d3.v3.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/rickshaw/rickshaw.min.js"></script>
<script type='text/javascript' src='lib/joli/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
<script type='text/javascript' src='lib/joli/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
<script type='text/javascript' src='lib/joli/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
<script type="text/javascript" src="lib/joli/js/plugins/owl/owl.carousel.min.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="lib/joli/js/plugins/daterangepicker/daterangepicker.js"></script>
<!--<script type="text/javascript" src="lib/joli/js/settings.js"></script>-->
<!--<script type="text/javascript" src="lib/joli/js/demo_dashboard.js"></script>-->
<script type="text/javascript" src="lib/joli/js/plugins.js"></script>
<script type="text/javascript" src="lib/joli/js/actions.js"></script>

<div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <div class="dashboard-header header">
                <a ng-click="goToDashboard()">Expense<span>Manager</span></a>
            </div>
            <!--<a href="index.html">Joli Admin</a>-->
            <a href="#" class="x-navigation-control"></a>
        </li>
        <li class="xn-profile">
            <a href="#" class="profile-mini">
                <!--<img src="assets/images/users/avatar.jpg" alt="John Doe"/>-->
            </a>

            <div class="profile">
                <div class="profile-image">
                    <span class="fa fa-user" style="font-size: -webkit-xxx-large;"></span>
                    <!--<img src="assets/images/users/avatar.jpg" alt="John Doe"/>-->
                </div>
                <div class="profile-data">
                    <div class="profile-data-name">John Doe</div>
                    <div class="profile-data-title">Web Developer/Designer</div>
                </div>
            </div>
        </li>
        <li class="active">
            <a><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
        </li>
        <li class="xn-openable">
            <a><span class="fa fa-files-o"></span> <span class="xn-text">Transaction</span></a>
            <ul>
                <li ng-click="goToIncome()">
                    <a>
                        <span class="fa fa-eye"></span>Income
                    </a>
                </li>
                <li ng-click="addExpense()">
                    <a>
                        <span class="fa fa-eye"></span>Expense
                    </a>
                </li>
            </ul>
        </li>
        <li class="xn-openable">
            <a><span class="fa fa-files-o"></span> <span class="xn-text">Administration</span></a>
            <ul>
                <li ng-click="goToOverview()">
                    <a>
                        <span class="fa fa-eye"></span>Overview
                    </a>
                </li>
                <li ng-click="goToProfile()">
                    <a>
                        <span class="fa fa-user"></span>Profile
                    </a>
                </li>
                <li ng-click="goToAccounts()">
                    <a>
                        <span class="fa fa-users"></span>Account(s)
                    </a>
                </li>
                <li ng-click="goToCategory()">
                    <a>
                        <span class="fa fa-sitemap"></span>Category
                    </a>
                </li>
                <li ng-click="goToPayers()">
                    <a>
                        <span class="fa fa-calendar"></span>Payers
                    </a>
                </li>
                <li ng-click="goToPayees()">
                    <a>
                        <span class="fa fa-edit"></span>Payee
                    </a>
                </li>
                <li ng-click="goToPaymentMethod()">
                    <a>
                        <span class="fa fa-credit-card"></span>Payment Method
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END X-NAVIGATION -->
</div>

<div class="page-content">

    <!--START OF THE MAIN PAGE HEADER-->
    <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
        <!-- TOGGLE NAVIGATION -->
        <li class="xn-icon-button">
            <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
        </li>
        <!-- END TOGGLE NAVIGATION -->
        <!-- SEARCH -->
        <li class="xn-search">
            <form role="form">
                <input type="text" name="search" placeholder="Search..."/>
            </form>
        </li>
        <!-- END SEARCH -->
        <!-- SIGN OUT -->
        <li class="xn-icon-button pull-right">
            <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
        </li>
        <!-- END SIGN OUT -->
        <!-- MESSAGES -->
        <li class="xn-icon-button pull-right">
            <a href="#"><span class="fa fa-comments"></span></a>

            <div class="informer informer-danger">4</div>
            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>

                    <div class="pull-right">
                        <span class="label label-danger">4 new</span>
                    </div>
                </div>
                <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                    <a href="#" class="list-group-item">
                        <div class="list-group-status status-online"></div>
                        <img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe"/>
                        <span class="contacts-title">John Doe</span>

                        <p>Praesent placerat tellus id augue condimentum</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="list-group-status status-away"></div>
                        <img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk"/>
                        <span class="contacts-title">Dmitry Ivaniuk</span>

                        <p>Donec risus sapien, sagittis et magna quis</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="list-group-status status-away"></div>
                        <img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali"/>
                        <span class="contacts-title">Nadia Ali</span>

                        <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <div class="list-group-status status-offline"></div>
                        <img src="assets/images/users/user6.jpg" class="pull-left" alt="Darth Vader"/>
                        <span class="contacts-title">Darth Vader</span>

                        <p>I want my money back!</p>
                    </a>
                </div>
                <div class="panel-footer text-center">
                    <a href="pages-messages.html">Show all messages</a>
                </div>
            </div>
        </li>
        <!-- END MESSAGES -->
        <!-- TASKS -->
        <li class="xn-icon-button pull-right">
            <a href="#"><span class="fa fa-tasks"></span></a>

            <div class="informer informer-warning">3</div>
            <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>

                    <div class="pull-right">
                        <span class="label label-warning">3 active</span>
                    </div>
                </div>
                <div class="panel-body list-group scroll" style="height: 200px;">
                    <a class="list-group-item" href="#">
                        <strong>Phasellus augue arcu, elementum</strong>

                        <div class="progress progress-small progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%
                            </div>
                        </div>
                        <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong>Aenean ac cursus</strong>

                        <div class="progress progress-small progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%
                            </div>
                        </div>
                        <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong>Lorem ipsum dolor</strong>

                        <div class="progress progress-small progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%
                            </div>
                        </div>
                        <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>
                    </a>
                    <a class="list-group-item" href="#">
                        <strong>Cras suscipit ac quam at tincidunt.</strong>

                        <div class="progress progress-small">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100" style="width: 100%;">100%
                            </div>
                        </div>
                        <small class="text-muted">John Doe, 21 Sep 2014 /</small>
                        <small class="text-success"> Done</small>
                    </a>
                </div>
                <div class="panel-footer text-center">
                    <a href="pages-tasks.html">Show all tasks</a>
                </div>
            </div>
        </li>
        <!-- END TASKS -->
    </ul>

    <div class="page-content-wrap">
        <div overview ng-if="showOverview"></div>
        <div profile ng-if="showProfile"></div>
        <div payment-method ng-if="showPaymentMethod"></div>
        <div category ng-if="showCategory"></div>
        <div payers ng-if="showPayers"></div>
        <div payees ng-if="showPayees"></div>
        <div accounts ng-if="showAccounts"></div>
        <div income ng-if="showIncome"></div>
    </div>
    <!--END OF MAIN PAGE HEADER-->
</div>

