<link rel="stylesheet" href="styles/header.css">
<div id="header_container" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" ng-if="!isLoginPage() && !isSignupPage()">
        <div class="row">
            <div class="col-md-offset-1 col-sm-3 col-xs-6 col-md-2 navbar-header">
                <span class="header">
                    <a ng-click="goToDashboard()">Expense<span>Manager</span></a>
                </span>
            </div>
            <div class="col-md-offset-6 col-md-3 col-xs-6 col-md-2 dashboard-header-right-button">
                <div class="" ng-if="!isLoginPage() && !isSignupPage()">
                    <button class="btn btn-success" disabled>
                        <span class="username">{{username | uppercase}}</span>
                    </button>
                    <button class="btn logout-button" ng-click="logout()">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" ng-if="isLoginPage() || isSignupPage()">
        <div class="row">
            <div class="col-md-offset-2 col-sm-3 col-xs-6 col-md-2">
                <span class="header">
                    <a ng-click="goToDashboard()">Expense<span>Manager</span></a>
                </span>
            </div>
            <div class="col-md-offset-4 col-md-3 col-xs-6 col-md-2">
                <div>
                    <button ng-if="isLoginPage()" type="button" class="btn btn-success header-button"
                            ng-click="goToSignUpPage()">
                        Sign Up
                    </button>
                    <button ng-if="isSignupPage()" type="button" class="btn btn-success header-button"
                            ng-click="goToLoginPage()">
                        Log In
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
