<link rel="stylesheet" href="styles/login.css">

<div class="login-container">

    <div class="login-box animated fadeInDown">

        <div class="login-header header">
            <a ng-click="goToDashboard()">Expense<span>Manager</span></a>
        </div>

        <div class="login-body">
            <div class="login-title"><strong>Welcome</strong>, Please login</div>
            <div class="alert alert-danger" role="alert" ng-if="error">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
                {{error}}
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Username" ng-model="user.username"
                               ng-focus="resetError()"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" placeholder="Password" ng-model="user.password"
                               ng-focus="resetError()"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success btn-block" value="Log In" ng-click="loginUser()">Log In</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="login-footer">
            <div class="pull-left">
                &copy; 2014 ExpenseManager
            </div>
            <div class="pull-right">
                <a ng-click="redirectToSignupPage()">Create Account</a> |
                <a href="#">About</a>
            </div>
        </div>

    </div>
</div>