<link rel="stylesheet" href="styles/signup.css">
<div header></div>
<div class="signup-body"></div>
<div class="signup">
    <input type="text" placeholder="First Name" ng-model="user.firstName" ng-focus="resetStatus()">
    <input type="text" placeholder="Last Name" ng-model="user.lastName" ng-focus="resetStatus()">
    <input id="birthdate" type="text" ng-model="user.birthDate" datepicker placeholder="Birth Date"
           ng-focus="resetStatus()">
    <select ng-model="user.gender" ng-focus="resetStatus()">
        <option value="" disabled selected>Gender</option>
        <option value="M">M</option>
        <option value="F">F</option>
        <option value="O">O</option>
    </select>
    <input type="text" placeholder="Email" ng-model="user.email" ng-focus="resetStatus()">
    <input type="text" placeholder="Username" ng-model="user.username" ng-focus="resetStatus()">
    <input type="password" placeholder="Password" ng-model="user.password" ng-focus="resetStatus()">

    <input type="button" value="Sign Up" ng-click="signUp()" class="btn btn-primary">

    <div class="alert-danger signup_status" ng-if="error">{{error}}</div>
    <div class="alert-success signup_status" ng-if="status">{{status}}</div>

</div>