<link rel="stylesheet" href="styles/sub-header.css">
<div class="container">
    <div class="row" id="sub-header-container">
        <div class="col-md-offset-1 col-sm-4 col-xs-6 col-md-3 center sub-header-buttons">
            <button class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Income
            </button>
            <button class="btn btn-danger">
                <span class="glyphicon glyphicon-plus"></span> Expense
            </button>
        </div>
        <div class="col-md-offset-4 col-sm-4 col-xs-6 col-md-3 center sub-header-buttons">
            <div>
                <button class="btn btn-info" ng-click="goToAdministrationPage()">
                    <span class="glyphicon glyphicon-user"></span> Administration
                </button>
            </div>
        </div>
    </div>
</div>